<div class="canvas-container">
  <canvas #drawingCanvas 
          [style.transform]="'rotate(' + currentAngle + 'deg)'"
          [style.width.px]="canvasSize"
          [style.height.px]="canvasSize"
          [style.background-color]="settings?.backgroundColor || '#ffffff'"
          (mousedown)="onMouseDown($event)"
          (touchstart)="onTouchStart($event)">
  </canvas>
  <div *ngIf="showCenterPoint" class="center-point"
       [style.left.px]="settings?.rotationCenter?.x"
       [style.top.px]="settings?.rotationCenter?.y">
  </div>
</div>
